.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color:black;
    color: yellow;
    padding: 0.75rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
   
  }
  
  .button:hover,
  .button:active {
    background-color: #89166b;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    color: white;
    background-color: green;
    padding: 0.25rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: black;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }

  .btn1 {
    display: flex;
    justify-content: right;
    align-items: right;
  }

  
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }